/* ---------------------------------- */
/* Instructions CSS                   */
/* ---------------------------------- */

#instructions-box {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 20%;
    background: white;
    border: 0.5vh solid black;
    border-radius: 24px;
}
#instructions {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
}
#instructions p {
    font-size: 120%;
    line-height: 160%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
#instructions br {
    font-size: 0vh;
    line-height: 0vh;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.jspsych-instructions-nav {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1% 0px;
}
.wrap .jspsych-instructions-nav .jspsych-btn {
    position: absolute;
    padding: 0.5% 1%;
    font-size: 120%;
}
.wrap .jspsych-instructions-nav .jspsych-btn:focus {
    position: absolute;
    outline: none;
}

#progress-border {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 1%;
    border: 1px solid gray;
    background: white;
    opacity: 20%;
}

#progress-bar {
    background: gray;
    height: 100%;
}

#jspsych-sailing-trial {
    position: relative;
    top: 0;
    left: 0;
    width: 1024px;
    height: 768px;
    overflow: hidden;
}
#background_zoom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#background_opacity {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#ocean, #fog {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#islands {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#fog {
    visibility: hidden;
}

.boat_left {
    position: absolute;
    width: 20.75%;
    height: 30.833333%;
    top: 48%;
    left: 2.7%;
}

.boat_right {
    position: absolute;
    width: 20.75%;
    height: 30.833333%;
    top: 47%;
    left: 77%;
}

.boat_bottom {
    position: absolute;
    width: 20%;
    height: 30.83333333%;
    top: 50%;
    left: 40.625%;
    animation: float 2.0s infinite linear;
}
#dock_left {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#dock_right {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#dock_bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-0.333%);
    }
    50% {
        transform: translateY(-0.666%);
    }
    75% {
        transform: translateY(-0.333%);
    }
    100% {
        transform: translateY(0);
    }
}
/* Ocean tranforms */
@keyframes zoom {
    0% { transform: scale(1.0, 1.0); }
    100% { transform: scale(3.77358491, 3.77358491); }
}
@keyframes unzoom {
    0% { transform: scale(3.77358491, 3.77358491); }
    100% { transform: scale(1.0, 1.0); }
}
.zoomed {
    animation: zoom 0.5s 1 linear;
    animation-fill-mode: forwards;
}
.unzoomed {
    animation: unzoom 0.5s 1 linear;
    animation-fill-mode: forwards;
}
.init {
    animation: none;
}
@keyframes fade_in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fade_out {
    0% { opacity: 1; }
    100% { opacity: 0.0; }
}
@keyframes partial_fade_out {
    0% { opacity: 1; }
    100% { opacity: 0.25; }
}
@keyframes partial_fade_in {
    0% { opacity: 0.25; }
    100% { opacity: 1.0; }
}
.fade_in {
    animation: fade_in 0.5s 1 linear;
    animation-fill-mode: forwards;
}
.fade_out {
    animation: fade_out 0.5s 1 linear;
    animation-fill-mode: forwards;
}
.partial_fade_out {
    animation: partial_fade_out 0.5s 1 linear;
    animation-fill-mode: forwards;
}
.partial_fade_in {
    animation: partial_fade_in 0.5s 1 linear;
    animation-fill-mode: forwards;
}
.floating {
    animation: float 2.1s infinite linear;
}
#reward {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#noreward {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#plus_one {
    transition-property: top;
    transition-duration:500ms;
    color: darkgoldenrod;
    font-size: 400%;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 51%;
    left: 28%;
}
#no_merchant_link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#independent_turns {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.reward_example {
    position: absolute;
    width: 30%;
    height: 30%;
    top: 0;
    left: -10%;
}
@keyframes diag_cover {
    0% { transform: translateY(90%) };
    100% { transform: translateY(10%) };
}
@keyframes diag_uncover {
    0% { transform: translateY(-10%) };
    100% { transform: translateY(-90%) };
}
.diag_covered {
    animation: diag_cover 0.3s 1 linear; 
    animation-fill-mode: forwards;
}
.diag_uncovered {
    animation: diag_uncover 0.3s 1 linear; 
    animation-fill-mode: forwards;
    transform: translateY(-90%);
}
#diag_box {
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: white;
    rotate: 143.1301024deg;
    top: -50%;
    left: -50%;
}